body {
  background-color: #012169;

}

h1 {
  margin: 0;
}


.Parent {
  text-align: center;
  background-color: #008edb;
  position: relative;
  padding: 10% 10%;
}

.img-top {
  position: absolute;
  right: 380px;
  top: 60px;
}

.img-bottom {
  position: absolute;
  left: 400px;
  bottom: 460px;
}
