body {
  background-color: #5c6e91;
  margin: 2.5em;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;

}

hr  {
  border-style: none;
  border-top-style: dotted;
  border-color: Orange;
  border-width: 7px;
  width: 5%;

}

.fixed-top  {
  background-color: pink;
}

.Parent  {
  background-color: white;
  padding: 5px;
  border-radius: 10px;

}

.clouds  {
  background-color: #75beda;
  padding: 3em;
  border-radius: 50% 20% / 10% 40%;


}

.profile  {
  background-color: #ff9a8c;
  padding: 1em;
  border-radius: 100px 100px / 100px;
  text-align: left;
}

.positive  {
  background-color: #fad5ad;
  padding: 1em;
  border-radius: 30px;
  text-align: left;
}

.contact-me  {
  background-color: #f3d1f4;
  border: none;
 border-radius: 40px 10px;
}

.footer  {
  background-color: #fffdf9;
  color: blue;
}

.copyright  {
  background-color: white;
  border: solid;
  border-width: 2px 4px;
  border-radius: 40px;
}

.pp  {
  float: left;
  margin-top: 0;
  margin-right: 10px;
}

.img-pt  {
  float: left;
  margin-top: 0;
  margin-right: 10px;
}


.imgtop  {
  position: absolute;
  right: 500px;

  }

.imgbottom  {
  position: absolute;
}

.topmenu  {
  background-color: white;
  font-size: 1.5em;
  font-style:oblique;
  font-family:serif;
  color: white;
  position: fixed;
}

.class-h1  {

padding-top: 70px;
}


.form  {
  text-align: center;
  position: relative;
  display: block;
}
